name: API breaking changes

on:
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-apibreakage
  cancel-in-progress: true

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: swift:latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    # https://github.com/actions/checkout/issues/766
    - name: Mark the workspace as safe
      run: git config --global --add safe.directory ${GITHUB_WORKSPACE}
    - name: API breaking changes
      run: |
        swift package diagnose-api-breaking-changes origin/${GITHUB_BASE_REF}
