name: Swift nightly build

on:
  workflow_dispatch:

env:
  HB_ENABLE_ALL_TRAITS: true

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image: ['nightly-focal', 'nightly-jammy', 'nightly-amazonlinux2']
    container:
      image: swiftlang/swift:${{ matrix.image }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Test
      run: |
        swift test
