name: Validity Check

env:
  HUMMINGBIRD_CI: 1

on:
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-validate
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 1
    - name: run script
      run: ./scripts/validate.sh
